
    <span>Register your voice</span>
    <div id="">
      <button type="button" class="btn btn-default" ng-click="startRecordingData()">Read</button>
      <button type="button" class="btn btn-default" ng-click="stopRecordingData()">Stop</button>
      <button type="button" class="btn btn-default" ng-click="clearData()">Clear</button>

      <h1>Sound</h1>

      <nvd3-line-with-focus-chart
        data="Data"
        id="VoiceData"
        width="1000"
        height="500"


        xAxisTickFormat="xAxisTickFormatSignal()"
        yAxisTickFormat="yAxisTickFormatFunction()"
        x2AxisTickFormat="xAxisTickFormatSignal()"
        y2AxisTickFormat="yAxisTickFormatFunction()"

        forcey="[-1,1]"


        showXAxis="true"
        showYAxis="true"

        objectequality="true"
        showLegend="true"

        noData="No Data For You!"

        interactive="true"
        tooltips="true">
        <svg></svg>
      </nvd3-line-with-focus-chart>

      <h1>MFCC

        <h4>Coeff Cepstraux MFCC Image
          <table>
            <tr>
              <td>
                <table>
                  <tr ng-repeat="case in colors track by $index" height="20px">
                    <td width="20px"> {{$index + 1}} </td>
                  </tr>
                  <tr height="20px">

                  </tr>
                </table>
              </td>
              <td>
                <div id="conteneur">
                  <table width="{{20*colors[0].length}}px">
                    <tr ng-repeat="case in colors track by $index" height="20px">
                      <!--<td width="20px"> {{$index + 1}} </td>-->
                      <td ng-repeat="elt in case" bgcolor="{{elt.color}}" width="20px" > </td>
                    </tr>
                    <tr height="20px">
                      <td ng-repeat="elt in colors[0] track by $index" width="20px">
                        <div ng-if="echelle($index + 1)">
                          {{$index + 1}}
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </h4>


        <h4>Coeff Cepstraux Delta Image
          <table>
            <tr>
              <td>
                <table>
                  <tr ng-repeat="case in colors track by $index" height="20px">
                    <td width="20px"> {{$index + 1}} </td>
                  </tr>
                  <tr height="20px">

                  </tr>
                </table>
              </td>
              <td>
                <div id="conteneur">
                  <table width="{{20*deltaColor[0].length}}px">
                    <tr ng-repeat="case in deltaColor track by $index" height="20px">
                      <!--<td width="20px"> {{$index + 1}} </td>-->
                      <td ng-repeat="elt in case" bgcolor="{{elt.color}}" width="20px" > </td>
                    </tr>
                    <tr height="20px">
                      <td ng-repeat="elt in deltaColor[0] track by $index" width="20px">
                        <div ng-if="echelle($index + 1)">
                          {{$index + 1}}
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </h4>

        <h4>Coeff Cepstraux Delta-Delta Image
          <table>
            <tr>
              <td>
                <table>
                  <tr ng-repeat="case in deltadelta track by $index" height="20px">
                    <td width="20px"> {{$index + 1}} </td>
                  </tr>
                  <tr height="20px">

                  </tr>
                </table>
              </td>
              <td>
                <div id="conteneur">
                  <table width="{{20*deltadelta[0].length}}px">
                    <tr ng-repeat="case in deltadelta track by $index" height="20px">
                      <!--<td width="20px"> {{$index + 1}} </td>-->
                      <td ng-repeat="elt in case" bgcolor="{{elt.color}}" width="20px" > </td>
                    </tr>
                    <tr height="20px">
                      <td ng-repeat="elt in deltadelta[0] track by $index" width="20px">
                        <div ng-if="echelle($index + 1)">
                          {{$index + 1}}
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </h4>


        <h4>Coeff Cepstraux Barre
          <nvd3-multi-bar-chart
            data="MFCC"
            id="MFCC_coeff"
            xAxisTickFormat="xAxisTickFormat()"
            yAxisTickFormat="yAxisTickFormatFunction()"

            reduceXTicks="true"
            tooltips="true"

            width="1000"
            height="500"
            showXAxis="true"
            showYAxis="true">
            <svg></svg>
          </nvd3-multi-bar-chart>
        </h4>
      </h1>

      <h1>Sound Cut</h1>
      <nvd3-line-with-focus-chart
        data="DataReconstruct"
        id="VoiceDataReconstruct"
        width="1000"
        height="500"


        xAxisTickFormat="xAxisTickFormatSignal()"
        yAxisTickFormat="yAxisTickFormatFunction()"
        x2AxisTickFormat="xAxisTickFormatSignal()"
        y2AxisTickFormat="yAxisTickFormatFunction()"

        forcey="[-1,1]"

        showXAxis="true"
        showYAxis="true"

        objectequality="true"
        showLegend="true"

        noData="No Data For You!"

        interactive="true"
        tooltips="true">
        <svg></svg>
      </nvd3-line-with-focus-chart>

    </div>
