

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Voice Analyzer</h1>
    <p class="lead">What's your choice ?</p>
    <img src="assets/images/micro.jpg" alt="I listen you">
  </div>
</header>

<div class="choice" >
  <div class="btn-group-vertical" role="group">
    <button type="button" class="btn btn-default btn-lg" ng-click="changeView('register')">Voice Register  </button>
    <button type="button" class="btn btn-default btn-lg" ng-click="changeView('research')">Research</button>
  </div>
</div>
<h1>Audio Player Test</h1>
<button type="button" class="btn btn-default" ng-click="read()"><i class="fa fa-play"></i></button>
<button type="button" class="btn btn-default" ng-click="pause()"><i class="fa fa-pause"></i></button>
<button type="button" class="btn btn-default" ng-click="stop()"><i class="fa fa-stop"></i></button>
